@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

.accountcarousel-box {
    padding: 60px 200px 100px;
}

@media (max-width: 600px) {
    .accountcarousel-box {
        padding: 50px;
    }
}


.accountcarousel-container-head {
    margin-bottom: 65px;
}

.accountcarousel-container-head p {
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    font-family: Source Sans Pro;
    color: black;
}

@media (max-width: 600px) {
    .accountcarousel-container-head p {
        padding: 60px 0 10px;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        font-family: Source Sans Pro;
        color: black;
    }
}

.accountcarousel-data,
.accountcarousel-head,
.accountcarousel-img {
    display: flex;
    justify-content: center;
    align-items: center;
}